---
import type { BlogFrontMatter } from '@/types/commonType';
import type { ImageMetadata } from 'astro';
import { ny } from '@/lib/utils';
import { Image } from 'astro:assets';
import dayjs from 'dayjs';
import BlogTags from './BlogTags';

interface Props {
  frontmatter: BlogFrontMatter;
  url?: string;
}

const { frontmatter, url } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/pages/blog/**/*.{jpeg,jpg,png,gif,webp}');

if (!images[frontmatter.thumbnail])
  throw new Error(`"${frontmatter.thumbnail}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);

const today = dayjs();
const targetDate = dayjs(frontmatter.created);
const diff = today.diff(frontmatter.created, 'day') > 31;
let created = targetDate.fromNow();
if (diff) {
  created = targetDate.format('YYYY-MM-DD');
}
---
  <figure
    class={`${ny(
      'relative mx-auto min-h-fit w-full cursor-pointer overflow-hidden rounded-2xl p-4',
      // animation styles

      'transition-all duration-200 ease-in-out hover:scale-[103%]',
      // light styles

      'bg-white [box-shadow:0_0_0_1px_rgba(0,0,0,.03),0_2px_4px_rgba(0,0,0,.05),0_12px_24px_rgba(0,0,0,.05)]',
      // dark styles

      'transform-gpu dark:bg-transparent dark:backdrop-blur-md dark:[border:1px_solid_rgba(255,255,255,.1)] dark:[box-shadow:0_-20px_80px_-20px_#ffffff1f_inset]',
    )} article-wrapper`}
  >
    <a href={url}>
      <article class="blog-article">
        <Image
          src={images[frontmatter.thumbnail]()}
          alt={frontmatter.title}
          class="rounded-lg"
          decoding="async"
          loading="lazy"
          width={128}
          height={128}
        />

        <div class="article-info">
          <h4 class="title">{frontmatter.title}</h4>
          <div class="desc">
            <BlogTags tags={frontmatter.tags} client:visible />
            <p class="text-slate-500 dark:text-slate-300">{frontmatter.category}</p>
            <p class="text-muted-foreground">{created}</p>
          </div>
        </div>
      </article>
    </a>
  </figure>


