---
import CommonScript from '@/components/layouts/CommonScript.astro';
import FloatButton from '@/components/layouts/FloatButton';
import Footer from '@/components/layouts/Footer';

import Navigation from '@/components/layouts/Navigation';
import ScrollProgress from '@/components/ui/scroll-progress';
import { ClientRouter } from 'astro:transitions';
import dayjs from 'dayjs';
import dayJsRelativeTime from 'dayjs/plugin/relativeTime';
import CommonMeta from '../components/MetaAnalytics/CommonMeta.astro';

import VendorScript from '../components/MetaAnalytics/VendorScript.astro';
import '@fontsource/gothic-a1';
import '@fontsource/m-plus-1p';
import '@fontsource/roboto';
import '@/assets/styles/global.css';
import '@/assets/styles/index.scss';
import 'dayjs/locale/en';

dayjs.extend(dayJsRelativeTime);
dayjs.locale('en');

const { frontmatter, title } = Astro.props;
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={title} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <ClientRouter />
  {frontmatter?.title
    ? <title>{frontmatter.title}</title>
    : <title>{title}</title>}
  <CommonMeta title={title} description="Except post" keywords={['others']} />
  <VendorScript />
  <style>


  </style>

</head>
<body>
<Navigation client:idle></Navigation>

<main>
  <ScrollProgress className="scroll-animation hidden top-[6.4rem] max-md:top-[4.4rem] bg-gradient-to-r from-neutral-200/30 via-neutral-200/70 to-neutral-200/30" client:idle />

  <div class="container-wrapper">
    <slot></slot>
    <div class="dummy-container" />
  </div>
</main>
<Footer client:idle />
<FloatButton client:idle />
<CommonScript />
</body>
</html>

<script is:inline>
  function getThemePreference() {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
  }

  function update() {
    // 테마 설정
    const isDark = getThemePreference() === 'dark';
    localStorage.setItem('theme', isDark ? 'dark' : 'light');
    document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
    // 스크롤 애니메이션 여부
    setTimeout(() => {
      if (document.querySelector('.scroll-animation') && document.querySelector('.container')) {
        if (window.innerHeight < (document.querySelector('.container').offsetHeight + 224)) {
          document.querySelector('.scroll-animation').classList.remove('hidden');
        }
      }
    }, 1000);
  }

  document.addEventListener('astro:after-swap', update);
  document.addEventListener('DOMContentLoaded', update);
</script>
